body {
	color: #606060;
	margin: 50px;
	text-align: justify;
	font-family: 'Lato Light', sans-serif;
}

h1, h2 {
	text-align: center;
	line-height: 0.5em;
}

h1 {
	font-size: 650%;
	letter-spacing: 0.05em;
	padding-top: 200px;
}

h2 {
	font-size: 120%;
	letter-spacing: 0.3em;
	border-bottom: 50px;
}

/*nav*/

#nav {
  padding-top: 50px;
  padding-bottom: 200px;
}

#nav ul {
  text-align: center;
}

#nav ul li {
  display: inline-block;
font-weight: 800;
}

#nav ul li a {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: #606060;
  margin: 0 10px;
}

#nav ul li a,
#nav ul li a:after,
#nav ul li a:before {
  transition: all .5s;
}

#nav ul li a:hover {
  color: #000000;
}

#nav ul li a {
  position: relative;
}

#nav ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #000000;
  height: 1px;
}

#nav ul li a:hover:after {
  width: 100%;
}